<div class="container-fluid"></div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="320">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navigation icon -->
      <a class="navbar-brand " ui-sref="home" class="pull-left">
        <i class="fa fa-skype fa-lg"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse text-center" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="home" data-ng-class="{activeTab:isActive('/')}">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="admin" data-ng-class="{activeTab:isActive('/admin')}">Admin</a>
        </li>

        <!-- <li>
          <a ui-sref="signup" data-ng-class="{activeTab:isActive('/signup')}">
            <i class="fa fa-user-plus fa-lg"></i>
            Sign up</a>
        </li> -->

        <li class="divider"></li>
        <li>
          <a href="#" ng-click="logout()">
            <i class="fa fa-power-off fa-lg"></i>
            Log out</a>
        </li>

      </ul>
    </div>
    <!-- end of navbar-collapse -->
  </div>
  <!-- end of container -->
</nav>

<script type="text/ng-template" id="loginModal.html">
  <div class="modal-header">
    <h1 class="text-center">
      <strong>Log in</strong>
    </h1>
  </div>
  <div class="modal-body">
    <form name="login" data-ng-submit="Login()">
      <div class="modal-body">
        <div class="text-success" data-ng-show="successMessage">
          <strong>{{successMessage}}</strong>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-success btn-block btn-lg" data-ng-disabled="login.$invalid">Log in</button>

      </div>

    </form>
  </div>

</script>
